body {
    padding-top: 50px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 7px;
}

.btns {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.greeting {
    margin-top: 5px;
    margin-bottom: 25px;
}

.greeting h1 {
    font-size: var(--big);
}

.date-time {
    display: flex;
    gap: .5rem;
    color: var(--gray-txt);
    font-size: var(--default);
}

.stats {
    margin: 25px 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.stat {
    padding: 10px;

    background: var(--txt2);
    position: relative;
    overflow: hidden;
}

.stat .title {
    font-size: var(--default);
    font-weight: bold;
}

.stat .number {
    margin-top: 10px;
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 700;
}

.stat .icon {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: -5px;
    right: -5px;

    font-size: 1.1rem;
    color: var(--txt2);

    box-shadow: 0 0 0 0 rgba(233, 100, 41, 1);
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(233, 100, 41, .7);
    }

    70% {
        box-shadow: 0 0 0 40px rgba(233, 100, 41, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(233, 100, 41, 0);
    }
}

.icon1 {
    animation-delay: 100ms;
    background-color: rgb(170, 60, 20);
}

.icon2 {
    animation-delay: 500ms;
    background-color: rgb(200, 80, 30);
}

.icon3 {
    animation-delay: 1s;
    background-color: rgb(245, 120, 50);
}

.icon4 {
    animation-delay: 1.5s;
    background-color: rgb(255, 140, 60);
}

.admin-btns {
    margin: 25px 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.add-product {
    display: inline-block;
    padding: .25em 1em;
    border-radius: 5px;

    background-color: rgb(255, 210, 180);
    color: var(--main-color);
    font-weight: 700;
}

.table-wrapper {
    margin-bottom: 50px;
    width: 100%;
    padding: 10px;
    background-color: var(--txt2);
    overflow: auto;
}

.table-wrapper table {
    width: 100%;
    text-align: left;
    color: var(--dark-gray);
}

.table-wrapper table th {
    color: var(--gray-txt);
    font-weight: 600;
}

.simage-container {
    width: 100px;
}

.simage-container img {
    width: 100%;
    object-fit: contain;
}

.update {
    background-color: #F1F8E9;
    color: #4CAF50;
    padding: .2em .75em;
    border-radius: 4px;
    font-weight: 700;
    margin-right: 1rem;
}

.delete {
    background-color: #FCE4EC;
    color: #D32F2F;
    padding: .2em .75em;
    border-radius: 4px;
    font-weight: 700;
    margin-right: 1rem;
}

.view {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    padding: .2em .75em;
    border-radius: 4px;
    font-weight: 700;
}

@media (max-width:750px) {
    .table-wrapper table {
        width: 750px;
    }
}

@media (max-width:570px) {
    .stats {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:320px) {
    .stats {
        grid-template-columns: 1fr;
    }

    .admin-btns {
        flex-direction: column;
        gap: 1rem;
    }
}