.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.stat {
    padding: 10px;
    border-radius: 5px;

    background: var(--txt2);
    position: relative;
}

.stat .title {
    font-size: var(--big);
}

.stat .number {
    color: var(--main-color);
}

.stat .icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.add-product {
    display: inline-block;
    margin: 10px 0;
    padding: .25em 1em;
    border-radius: 5px;

    background-color: var(--main-color);
    color: var(--txt2);
    font-weight: 700;
}

.btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.update {
    background-color: #F1F8E9;
    color: #4CAF50;
    padding: .2em .75em;
    border-radius: 4px;
    font-weight: 700;
}

.delete {
    background-color: #FCE4EC;
    color: #D32F2F;
    padding: .2em .75em;
    border-radius: 4px;
    font-weight: 700;
}