.add-product {
    padding: .25em 1em;
    border-radius: 5px;

    background-color: var(--main-color);
    color: var(--txt2);
    font-weight: 700;
}

.btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.update {
    background-color: green;
    color: var(--txt2);
    padding: .25em .75em;
    border-radius: 2rem;
}

.delete {
    background-color: red;
    color: var(--txt2);
    padding: .25em .75em;
    border-radius: 2rem;
}