.btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.delete {
    padding: .5em 1.5em;
    width: fit-content;

    background-color: red;
    color: var(--txt2);
    border-radius: 2rem;
}