body {
    padding-top: 100px;
}

.btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--gray-txt);
}

.delete {
    width: fit-content;
    background-color: #FCE4EC;
    color: #D32F2F;
    padding: .2em .75em;
    border-radius: 4px;
    font-weight: 700;
}