form {
    padding: 20px;
}

.form-row {
    margin-top: 10px;
}

.input-title {
    font-weight: bold;
}

.add-color-input {
    margin: 5px 0 10px 0;
    display: block;
    padding: .25em 1em;
    border-radius: 5px;

    background-color: rgb(255, 210, 180);
    color: var(--main-color);
    font-weight: 700;
}

.input-color {
    margin: 5px 0;
    display: block;
    width: fit-content;
    position: relative;
}

.input-color .remove-color-input {
    padding: 3px 5px;
    font-size: .6rem;
    border-radius: 50%;

    position: absolute;
    top: -5px;
    right: -5px;

    background-color: #D32F2F;
    color: white;
}

.file-container {
    border: 2px dashed var(--gray-txt);
    padding: 10px;

    display: flex;
    flex-direction: column;
}

#preview.visible {
    width: 10rem;
    height: 10rem;
}

#preview img {
    width: 100%;
    object-fit: contain;
}

.btns {
    width: fit-content;
    margin: 10px 0 0 auto;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.cancel {
    background-color: #FCE4EC;
    color: #D32F2F;
    padding: .2em .75em;
    border-radius: 4px;
    font-weight: 700;
}

.save {
    background-color: #E8F5E9;
    color: #4CAF50;
    padding: .2em .75em;
    border-radius: 4px;
    font-weight: 700;
}